
@font-face {
  font-family: 'Orbitron';
  src: url('/fonts/Orbitron-VariableFont_wght.ttf') format('truetype');
}
@font-face {
  font-family: 'M PLUS 1p';
  src: url('/fonts/MPLUS1p-Regular.ttf') format('truetype');
}

:root {
  --font-heading: 'Orbitron', 'M PLUS 1p', sans-serif;
  --font-body: 'M PLUS 1p', sans-serif;
}

body {
  font-family: var(--font-body);
}

h1, h2, h3, h4, h5, h6, .font-heading {
  font-family: var(--font-heading);
}
