@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --color-navy: #0a0e17;
  --color-neon-blue: #2c8fff;
}


@font-face {
  font-family: 'Orbitron';
  src: url('/fonts/Orbitron-VariableFont_wght.ttf') format('truetype');
}

h1, .font-heading {
  font-family: 'Orbitron', sans-serif;
}
.btn-neon {
  color: var(--color-neon-blue);
  background-color: var(--color-navy);
  border: 2px solid var(--color-neon-blue);
  box-shadow: 0 0 0.75rem var(--color-neon-blue);
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}

.btn-neon:hover {
  background-color: var(--color-neon-blue);
  color: var(--color-navy);
  box-shadow: 0 0 1rem var(--color-neon-blue);
}